.runner {
    display: flex;
    flex-direction: row;
}

.debugger {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.debugger table td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.debugger__buttons {

}

.debugger__assembly {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    font-family: monospace;
    line-height: 1.7rem;
}

.terminal {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.assembly-row-first-cell {
    padding-left: 2rem;
}

.label-row > td {
    padding-top: 2rem;
}
